:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	--color-system-100: hsl(0, 0%, 5%);
	--color-system-80: hsl(0, 0%, 15%);
	--color-system-60: hsl(0, 0%, 35%);
	--color-system-40: hsl(0, 0%, 50%);
	--color-system-invert-100: hsl(0, 0%, 99%);
	--color-system-invert-80: hsl(0, 0%, 90%);

	color-scheme: light dark;
	color: var(--color-system-100);
	background-color: var(--color-system-invert-80);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

.btn {
	background-color: var(--color-system-invert-100);
	color: var(--color-system-80);
	border-radius: 8px;
	border: 2px solid var(--color-system-40);
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	transform: translateY(-0.25rem);
	box-shadow: 0 0.5rem 0 var(--color-system-40);
	cursor: pointer;
	transition: all 0.2s;
	a {
		text-decoration: none;
		color: inherit;
	}
	&:hover {
		color: var(--color-system-100);
		transform: translateY(0);
		box-shadow: 0 0.25rem 0 var(--color-system-80);
		border-color: var(--color-system-80);
	}
	&:focus,
	&:focus-visible {
		outline: 40px auto -webkit-focus-ring-color;
	}
}

#app {
	margin: 0 auto;
	max-width: 1280px;
}
article {
	text-align: center;
	background-color: var(--color-system-invert-100);
	border-radius: 0.5rem;
	padding: 1rem 2rem 3rem;
}
img {
	width: 100%;
	max-width: 20rem;
}
p {
	margin-block-end: 2rem;
}
.title {
	font-size: 1.5rem;
	line-height: 1.25;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-system-100: hsl(0, 0%, 95%);
		--color-system-80: hsl(0, 0%, 80%);
		--color-system-60: hsl(0, 0%, 60%);
		--color-system-40: hsl(0, 0%, 40%);
		--color-system-invert-100: hsl(0, 0%, 4%);
		--color-system-invert-80: hsl(0, 0%, 10%);
	}
}
